node_modules/
dist/
.env
.env.local
.DS_Store
.vite/
/docs/API_SPEC.md
/.legacy/

# React Native
/mobile/android/.gradle/
/mobile/android/app/build/
/mobile/ios/Pods/
/mobile/ios/build/
/mobile/.bundle/
